body{font-family:sans-serif;}
div.titulo{height:32px;width:1000px;padding:10px;
background-color:#DDEEFF;border:1px solid #AABBFF;}
div.nometorneio{font-size:28px;width:650px;float:left;}
div.dettitulo{font-size:14px;width:340px;height:20px;float:right;
text-align:right;font-weight:bold;}
div.separador{width:1000px;font-size:20px;text-align:center;
margin: 20px 0px 0px 0px;padding:0px 10px 0px 10px;}
div.tabclassifica{width:1000px;padding:10px;
border:1px solid #AABBFF;}
#jogos {font-family:Helvetica,sans-serif;border-collapse:collapse;
margin: 0 auto;text-align:center;}
#jogos td, #jogos th {border: 1px solid #D0D0D0;padding: 8px;}
#jogos tr:nth-child(even){background-color: #E0E0E0;}
#jogos tr:nth-child(odd){background-color: #FFFFFF;}
#jogos tr:hover {background-color: #D0D0D0;}
#jogos th {padding-top:12px;padding-bottom:12px;text-align:center;
background-color:#5599FF;color:white;width:50px;}